body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  background-color: yellow;
  margin: 2em;
  height: 100%;
}

h1 {
  font-style: italic;
  background-color: white;
  color: #373fff;
  font-size:80px;
  text-align:center;
  padding-bottom:5px;
  margin-bottom:20px;
  margin-top:25px;
  text-shadow: yellow 5px 10px 10px;
  border-radius: 25px;
}

img {
   object-fit: contain;
   height: 100%;
   width: 100%;
}

img {
  border-radius: 20px 20px;
  box-shadow: 5px 10px #888888;
}

  a, a:visited{
             color: black !important;
             text-decoration: none;
             border-bottom: 1px solid white;
             box-shadow: 0px -2px 0px white inset;
        }

 a:hover {
   background-color: white;
}


.siteBox{
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: white;
}

#worldMap{
  width: 680px; 
  height: 500px;
  align-self: center;
}

#bodegaDiv {
  margin: 15px;
  padding: 5px;
  width: 30%;
  overflow: hidden;
  align-self: center;
}

#textPara {
  color: black;
  font-size: 26px;
/*   text-shadow: blue 1px 0 10px; */
  text-align: left;
}

.legend {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  margin-bottom: 20px;
}

.legend-item {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  margin-bottom: 10px;
}


.legend-text {
  color: black;
  white-space: nowrap;
  max-height: 1.5em;
  font-size: 11px;
  width: 40px;
  margin: 2px 2px 2px 2px;
}

.footer-area{
  margin-top: -150px;
}

.footer-text{
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  font-style: italic;
  color: black;
  max-height: 1em;
  text-align: left;
  text-shadow: white 1px 0 10px;
  margin-right:60px;
  margin-left:60px;
}

/*The below makes the site responsive.*/
@media only screen and (max-device-width: 768px){
  #bodegaDiv {
  width: 60%;
}
  h1 {
    font-size: 60px
  }
  
  .legend{
    flex-direction: row;
  }
  
  .legend-item {
    flex-direction: row;
    margin-left: 40px;
    width: 75px;
}
}